<header class="p-5">
  <main>
    <section>
      <button class="btn btn-primary">Add a new user</button>
    </section>
  </main>
  <section class="mt-5">
    <table id="formUsers">
      <tr>
        <th class="col-md-2">S/N</th>
        <th class="col-md-2">First Name</th>
        <th class="col-md-2">Last Name</th>
        <th class="col-md-2">Body Size</th>
        <th class="col-md-2">Description</th>
        <th class="col-md-2">Update</th>
        <th class="col-md-2">Delete</th>
      </tr>
      <tr *ngFor="let formUser of formUsers">
        <td>{{ formUser.id }}</td>
        <td (click)="getDataById(formUser.id)" class="cursor">
          {{ formUser.firstName }}
        </td>
        <td>{{ formUser.lastName }}</td>
        <td>{{ formUser.bodySize }}</td>
        <td>{{ formUser.description }}</td>
        <td>
          <button (click)="update(formUser.id)">Edit</button>
        </td>
        <td>@
          <button (click)="deleteItem(formUser.id)">Delete</button>
        </td>
      </tr>
    </table>
  </section>
</header>
