<header class="p-5">
  <main>
    <section>
      <!-- the undefined acts as a null user -->
      <button class="btn btn-primary" (click)="openModal(template, undefined)">
        Add a new user
      </button>
    </section>
  </main>
  <section class="mt-5">
    <table id="formUsers">
      <tr>
        <th class="col-md-2">S/N</th>
        <th class="col-md-2">First Name</th>
        <th class="col-md-2">Last Name</th>
        <th class="col-md-2">Body Size</th>
        <th class="col-md-2">Description</th>
        <th class="col-md-2">Update</th>
        <th class="col-md-2">Delete</th>
      </tr>
      <tr *ngFor="let formUser of formUsers">
        <td>{{ formUser.id }}</td>
        <td (click)="viewDataById(viewTemplate, formUser.id)" class="cursor">
          {{ formUser.firstName }}
        </td>
        <td>{{ formUser.lastName }}</td>
        <td>{{ formUser.bodySize }}</td>
        <td>{{ formUser.description }}</td>
        <td>
          <button (click)="openModal(template, formUser)">Edit</button>
        </td>
        <td>
          <!-- the deleteModal takes in two params -->
          <button (click)="deleteModal(templatee, formUser.id)">Delete</button>
        </td>
        <!-- this is a delete modal templatee. -->
        <section class="mt-3 p-4">
          <ng-template #templatee>
            <main class="mt-5 p-4 text-center">
              <h4>{{ deleteMessage }}</h4>
              <div class="row mt-4 mb-4">
                <div class="col-md-6">
                  <button
                    class="btn btn-primary w-100"
                    (click)="deleteItem(formUser.id)"
                  >
                    Yes
                  </button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-primary w-100" (click)="exitModal()">
                    No
                  </button>
                </div>
              </div>
            </main>
          </ng-template>
        </section>
      </tr>
    </table>
  </section>
  <!-- modal template -->
  <!-- '#template' is used in the openModal function. it basically tells the function which content to show in the modal when it opens -->
  <ng-template #template>
    <footer class="border border-danger bg-white text-dark">
      <div class="card mt-4">
        <div class="card-header">Enter your details here!</div>

        <div class="card-body">
          <!-- we use property binding to bind to our class component using [formGroup]-->
          <form novalidate (ngSubmit)="save()" [formGroup]="customerForm">
            <div>
              <input
                type="hidden"
                class="form-control"
                id="id"
                formControlName="id"
              />
            </div>
            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="firstNameId"
                >First Name</label
              >
              <div class="col-md-8">
                <input
                  class="form-control"
                  id="firstNameId"
                  type="text"
                  placeholder="First Name (required)"
                  formControlName="firstName"
                  [ngClass]="{
                    'is-invalid':
                      (customerForm.get('firstName')?.touched ||
                        customerForm.get('firstName')?.dirty) &&
                      !customerForm.get('firstName')?.valid
                  }"
                />
                <span class="invalid-feedback">
                  <span
                    *ngIf="customerForm.get('firstName')?.errors?.['required']"
                  >
                    Please enter your first name.
                  </span>
                  <span
                    *ngIf="customerForm.get('firstName')?.errors?.['minlength']"
                  >
                    The first name must be longer than 3 characters.
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="lastNameId"
                >Last Name</label
              >
              <div class="col-md-8">
                <input
                  class="form-control"
                  id="lastNameId"
                  type="text"
                  placeholder="Last Name (required)"
                  formControlName="lastName"
                  [ngClass]="{
                    'is-invalid':
                      (customerForm.get('lastName')?.touched ||
                        customerForm.get('lastName')?.dirty) &&
                      !customerForm.get('lastName')?.valid
                  }"
                />
                <span class="invalid-feedback">
                  <span
                    *ngIf="customerForm.get('lastName')?.errors?.['required']"
                  >
                    Please enter your last name.
                  </span>
                  <span
                    *ngIf="customerForm.get('lastName')?.errors?.['maxlength']"
                  >
                    The last name must be less than 20 characters.
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="bodySizeId"
                >Body Size</label
              >
              <div class="col-md-8">
                <input
                  class="form-control"
                  id="bodySizeId"
                  type="number"
                  formControlName="bodySize"
                  [ngClass]="{
                    'is-invalid':
                      (customerForm.get('bodySize')?.touched ||
                        customerForm.get('bodySize')?.dirty) &&
                      !customerForm.get('bodySize')?.valid
                  }"
                />
                <span class="invalid-feedback">
                  <!-- range refers to the error message we'll display -->
                  <span *ngIf="customerForm.get('bodySize')?.errors?.['range']">
                    Please enter your body size which should range from 8 to 18.
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="descriptionId"
                >Description</label
              >
              <div class="col-md-8">
                <textarea
                  placeholder="Description"
                  formControlName="description"
                  [ngClass]="{
                    'is-invalid':
                      (customerForm.get('description')?.touched ||
                        customerForm.get('description')?.dirty) &&
                      !customerForm.get('description')?.valid
                  }"
                  style="width: 100%"
                  rows="3"
                ></textarea>
                <span class="invalid-feedback">
                  <span
                    *ngIf="customerForm.get('description')?.errors?.['maxlength']"
                  >
                    your description must not be more than 256 characters.
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group row mb-2">
              <div class="offset-md-2 col-md-4">
                <button
                  class="btn btn-primary mr-3"
                  type="submit"
                  style="width: 150px"
                  [title]="
                    customerForm.valid
                      ? 'Save your entered data'
                      : 'Disabled until the form data is valid'
                  "
                  [disabled]="!customerForm.valid"
                >
                  {{
                    customerForm.value.id != null ? "Edit User" : "Add New User"
                  }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </footer></ng-template
  >
<!-- view user template -->
  <section class="">
    <ng-template #viewTemplate>
      <div class="p-4" *ngIf="formUser">
        <div class="">
          <h4 class="">First Name: {{ formUser.firstName }}</h4>
          <h4 class="">Last name: {{ formUser.lastName }}</h4>
        </div>
        <div class="">
          <h4 class="">Body Size: {{ formUser.bodySize }}</h4>
          <h4 class="">Description: {{ formUser.description }}</h4>
        </div>
      </div>
    </ng-template>
  </section>
</header>
